= resource_error_messages! :on => [:password, :password_confirmation]

= form_for(resource, :url => profile_path, :remote => true, :html => { :id => :profile_password_form }) do |f|
  .field
    = f.label :password, nil, :class => 'req'
    = f.password_field :password
  .field
    = f.label :password_confirmation, nil, :class => 'req'
    = f.password_field :password_confirmation

  .actions
    = f.submit e9_t(:save_link)
