- content_for :toolbar_middle do
  = toolbar_filters do
    = form_tag report_admin_events_path, :method => :get, :class => 'scope-selects' do
      .field
        %select{:name => 'future', :id => 'events-future'}
          = options_for_select [[resource_humanize(:future), nil], [resource_humanize(:past), 0]]

- content_for :toolbar_right do
  = toolbar_actions do
    = link_to_collection('View Events', Event)

= render 'shared/admin/index', :collection => collection, :table => 'reports_table'
