- if collection.any?
  = form_tag admin_user_emails_path, :class => "email-template-sel", :method => :get do
    = hidden_field_tag "contact_id", params[:contact_id]
    = hidden_field_tag "user_id", params[:user_id]
    = hidden_field_tag "user_email[to]", params[:to]
    = select_tag "id", options_for_select(collection.map {|e| [e.name, e.id] })
    = submit_tag resource_class.human_attribute_name(:personalize), :name => nil
- else
  = I18n.t(:no_email_templates).html_safe
