= form_for resource, :url => polymorphic_path([:admin, resource]) do |f|
  = resource_error_messages!

  .field
    = f.label :title, nil, :class => :req
    = f.text_field :title

  = render 'shared/form_partials/roles_for_content', :f => f, :css_class => :req

  .actions
    = f.submit
