= form_for @facebook_post, :remote => true do |f|
  .header= e9_t(:header, :scope => :facebook_posts)
  .errors= resource_error_messages! :resource => @facebook_post

  = render 'form_inner', :content => local_assigns[:content]

  .actions
    = submit_tag e9_t(:save_link)
