= title (@index_title || e9_t(:index_title))

- content_for :toolbar_middle do
  = toolbar_filters do

    -#= form_tag(resource_class, :method => :get, :id => 'contact_search_form') do
    = form_tag(resource_class, :method => :get, :class => 'scope-selects', :id => 'contact-filters') do
      .field.clear
        %a{:rel => 'clear', :href => collection_path} Clear
      .field
        = label_tag 'contact_search_field', t(:search)
        = text_field_tag 'search', params[:search], :class => 'keyup-submit', :placeholder => t(:contact_search_placeholder)

      .field
        = label_tag 'contact_company_select', Company.model_name.human
        %select{:name => 'company', :id => 'contact_company_select'}
          = company_select_options

      .field
        = label_tag 'bounced_select', 'Contacts with email problems'
        %select{:name => 'bounced', :id => 'bounced_select'}
          %option{:value => ''} No. Show all contacts.
          %option{:value => '1'} Yes. Show contacts with flagged email addresses.

      .field.tag-selection
        - tags = Array.wrap(params[:tagged])
        %label Tags
        %input.tag-autocomplete.list{:type => 'text', 'data-iname' => 'contact', 'data-field' => '[tagged]', :placeholder => t(:tag_search_placeholder)}
        %ul.tag-select
          - tags.each do |tag|
            %li
              %span.content= tag
              %a{:class => :remove, :title => "Remove", :alt => "Remove"} Remove
        .field.matchall.checkbox
          %label{:for => 'contact_tag_match_all'} Match All?
          %input#contact_tag_match_all{:type => 'checkbox', :name => 'tagged_all', :value => 1, :disabled => tags.length < 2}

    - content_for :toolbar_right do
      = toolbar_actions do
        = link_to_new_resource(Contact)
        = link_to_collection(Company)
        %span#export-csv-link
          = link_to_collection("Export CSV", resource_class, :format => 'csv')
        %span#upload-csv-button
          %a.button.browse
            Import CSV
            = file_field_tag 'upload-csv-field'
      = toolbar_forms do
        #upload-csv-field-queue
        #email_delivery_form
          = render 'email_delivery_form'

= render 'shared/admin/toolbar'
        
- content_for :bottom_javascripts do
  :javascript
    $('#upload-csv-field').csv_upload('/admin/crm/contacts', {
      queueID: 'upload-csv-field-queue',
      scriptData: {
        format: 'js',
        #{session_key}: encodeURIComponent("#{u session_id }"),
        #{request_forgery_protection_token }: encodeURIComponent('#{u form_authenticity_token if protect_against_forgery? }')
      }
    });

    $('#export-csv-link a').csv_export();

#records_table
  = render 'table', :resources => collection

