= form_for(resource, :remote => request.xhr?) do |f|

  .attachment
    - if resource.persisted?
      .attachment-thumb
        = content_tag :div, :title => resource.file_name, :class => "attachment-icon attachment-#{resource.file_type}" do
          - if resource.has_thumb?
            = image_tag resource.thumb.url
          - else
            = resource.file_name
      .attachment-name
        = resource.file_name
      - if resource.file_type.image?
        .attachment-dimensions
          = "#{resource.width}x#{resource.height}"
      .attachment-created
        = l(resource.created_at)

  = render 'e9_tags/form', :f => f, :context => [:files, true]

  .actions
    = f.submit
