- content_for :toolbar_middle do
  = toolbar_filters do

    = form_tag(resource_class, :method => :get) do
      .field.clear
        %a{:rel => 'clear', :href => attachments_path} Clear

    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      .field
        = label_tag 'attachment_search_field', t(:search)
        = text_field_tag 'search', params[:search], :class => 'keyup-submit', :placeholder => t(:attachment_search_placeholder), :id => 'attachment_search_field'

    = form_tag(resource_class, :method => :get) do
      .field.tag-selection
        - tags = Array.wrap(params[:tagged])
        %label Tags
        %input.tag-autocomplete.list{:type => 'text', 'data-iname' => 'attachment', 'data-field' => '[tagged]', :placeholder => t(:tag_search_placeholder)}
        %ul.tag-select.select
          - tags.each do |tag|
            %li
              %span.content= tag
              %a{:class => :remove, :title => "Remove", :alt => "Remove"} Remove
      .field.untagged.checkbox
        %input{:type => :checkbox, :name => :untagged, :id => 'untagged-checkbox' }
        %label{:for => 'untagged-checkbox'} View only untagged

- content_for :toolbar_right do
  = toolbar_actions do
    %a.browse
      = e9_t(:browse_file)
      %input{:type => 'file', :name => 'file', :id => 'file-upload-input'}

  = toolbar_forms do
    .upload-queue{:id => "file-upload-queue"}

= render 'shared/admin/index', :collection => collection
