= form_for @twitter_status, :remote => true do |f|
  .header= e9_t(:header, :scope => :twitter_statuses)
  .errors= resource_error_messages! :resource => @twitter_status

  = render 'form_inner', :content => local_assigns[:content]

  .actions
    = submit_tag e9_t(:save_link)
