<%= title e9_t(:edit_title, :scope => :passwords) %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= resource_error_messages! %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, nil, :class => 'req' %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, nil, :class => 'req' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit e9_t(:edit_password_link, :scope => :passwords) %>
  </div>
<% end %>
