= form_for(resource, :url => admin_settings_general_path, :html => { :multipart => true }) do |f|
  = resource_error_messages!

  %fieldset#site-settings
    %legend Site Settings
    %fieldset.radio
      %legend= f.label(:use_captcha_registrations)
      .field.radio
        = f.label 'Yes'
        = f.radio_button :use_captcha_registrations, true
      .field.radio
        = f.label 'No'
        = f.radio_button :use_captcha_registrations, false

    %fieldset.radio
      %legend= f.label(:use_captcha_comments)
      .field.radio
        = f.label 'Yes'
        = f.radio_button :use_captcha_comments, true
      .field.radio
        = f.label 'No'
        = f.radio_button :use_captcha_comments, false

    - if e9_user?
      .field
        = f.label :header_text
        = f.text_area :header_text

      .field
        = f.label :avatar_size
        = f.text_field :avatar_size

      .field
        = f.label :maximum_share_site_count
        = f.text_field :maximum_share_site_count
      .field
        = f.label :e9_admin_home_blog_url
        = f.text_field :e9_admin_home_blog_url
      .field
        = f.label :e9_admin_home_page_url
        = f.text_field :e9_admin_home_page_url
      .field
        = f.label :e9_standard_help
        = f.text_area :e9_standard_help
      .field
        = f.label :e9_custom_help
        = f.text_area :e9_custom_help
      .field
        = f.label :slide_embeddable_width
        = f.text_field :slide_embeddable_width
      .field
        = f.label :slide_embeddable_height
        = f.text_field :slide_embeddable_height
      .field
        = f.label :wide_thumb_width
        = f.text_field :wide_thumb_width
      .field
        = f.label :wide_thumb_height
        = f.text_field :wide_thumb_height

  %fieldset#merchant-settings
    %legend= e9_t(:merchant_settings_legend)
    .field
      = f.label :m_gateway
      = f.select :m_gateway, [['Authorize.net', 'authorize_net']]
    .field
      = f.label :m_gateway_login
      = f.text_field :m_gateway_login
    .field
      = f.label :m_gateway_pass
      = f.text_field :m_gateway_pass
    .field.checkbox
      = f.label :m_gateway_test
      = f.check_box :m_gateway_test

  %fieldset#company_information
    %legend= e9_t(:company_information)
    .field
      = f.label :site_name, nil, :class => :req
      = f.text_field :site_name
    .field
      = f.label :copyright_start_year, nil, :class => :req
      = f.text_field :copyright_start_year
    - if e9_user?
      .field
        = f.label :domain_name, nil, :class => :req
        = f.text_field :domain_name
    .field
      = f.label :google_analytics_code
      = f.text_area :google_analytics_code
    .field
      = f.label :google_site_verification_code
      = f.text_area :google_site_verification_code
    .field
      = f.label :default_meta_description
      = f.text_area :default_meta_description
    .field
      = f.label :default_meta_keywords, (resource_humanize(:default_meta_keywords) << %Q| <span class="help" rel="tooltip" title="#{e9_t(:meta_keywords_instructions)}">[?]</span>|).html_safe
      = f.text_area :default_meta_keywords

  %fieldset#records_to_display_settings
    %legend= e9_t(:records_to_display_settings)
    .field
      = f.label :search_records_per_page, nil, :class => :req
      = f.text_field :search_records_per_page
    .field
      = f.label :home_records_per_page, nil, :class => :req
      = f.text_field :home_records_per_page
    .field
      = f.label :admin_records_per_page, nil, :class => :req
      = f.text_field :admin_records_per_page
    .field
      = f.label :notes_per_page, nil, :class => :req
      = f.text_field :notes_per_page
    .field
      = f.label :feed_summary_characters, nil, :class => :req
      = f.text_field :feed_summary_characters

  .actions
    = f.submit e9_t(:save_link)
