= form_tag polymorphic_path([:update_order, :admin, resource_class]) do
  %table.records.sortable
    %thead
      %tr
        %th= resource_humanize(:position)
        %th= resource_humanize(:title)
        %th= e9_t(:actions)
    %tbody
      - if collection.empty?
        %tr
          %td{:colspan => 3}= e9_t(:no_records_text)
      - else
        - collection.each do |record|
          %tr{:id => "ids_#{record.id}", :class => cycle('odd', 'even')}
            %td
              .handle +++
            %td.txt= record.title
            %td.actions
              = link_to e9_t(:slides_link), admin_slideshow_slides_path(record)
              = edit_admin_resource_link(record)
              = preview_page_link(record)
              = social_feed_link(record)
              = destroy_admin_resource_link(record)

= will_paginate(collection)
