%table.records
  %thead
    %tr
      %th= ordered_on_link(resource_class, :name)
      %th= e9_t(:actions)
  %tbody
  - if collection.empty?
    %tr
      %td{:colspan => 2}= e9_t(:no_records_text)
  - else
    - collection.each do |resource|
      %tr{:id => "ids_#{resource.id}", :class => cycle('odd', 'even')}
        %td.txt= resource.name
        %td.actions
          = revert_snippet_link(resource) if resource.revert_template?
          = edit_admin_resource_link(resource)
          = new_admin_resource_link(resource_class, :text => I18n.t(:copy), :path_args => { :id => resource.id })
          = destroy_admin_resource_link(resource)

= will_paginate collection
