.field.region
  = f.hidden_field :name
  = f.hidden_field :region_type_id
  = f.hidden_field :domid
  - select_id = "region_#{f.object.object_id}_renderable_id"
  = label_tag select_id, f.object.name.titleize
  = select_tag select_id, renderables_for_region_select_options(f.object), :name => nil, :class => "node-selector"
  %ul.nodes.select
    - unless f.object.nodes.empty?
      - f.object.nodes.each do |node|
        %li
          = f.fields_for :nodes, node do |nf|; node.id = nil
            = render 'admin/views/node', :f => nf
