= form_for(resource, :url => polymorphic_path([:admin, resource]), :remote => false) do |f|
  .errors= resource_error_messages!
  .fields
    = f.hidden_field :layout_id
    = f.hidden_field :blog_id
    .field
      = f.label :title, nil, :class => :req
      = f.text_field :title
    = render 'e9_tags/form', :f => f
    = render 'admin/views/body', :f => f
    = render 'shared/form_partials/related_data', :f => f
    #blog-post-thumb
      = image_mount_field(resource.thumb, :f => f)
    = render 'admin/views/advanced_settings', :f => f

    - content_for :bottom_javascripts do
      -# little javascript to make the avatar swap when the author changes
      :javascript
        window.e9 = window.e9 || {};
        window.e9.author_thumb_map = #{author_avatar_url_map.to_json};

  .actions
    = f.submit
