%td.date= l(record.published_at)
%td.txt= record.blog.title
%td.txt= record.title
%td.txt= published_status_text(record)
%td.actions
  = content_publish_link(record)
  = edit_admin_resource_link(record)
  = preview_page_link(record) if !record.permalink.blank?
  = social_feed_link(record)
  = destroy_admin_resource_link(record)
