.image.constrained
  - target = listed_image.attachment && listed_image.attachment.thumb('100x100#') || listed_image
  = link_to image_tag(target.url), image_path(listed_image), :class => 'do-select'
  .tooltip
    .attachment-name
      = listed_image.attachment_name
    .attachment-dimensions
      = listed_image.dimensions
    .attachment-created
      = l(listed_image.created_at)
    .attachment-tags
      - tags = listed_image.tag_list_on('images__h__').sort {|a, b| a.upcase <=> b.upcase }
      %ul
        - tags.each do |tag|
          %li.tag= tag
