%td.date
  = l(resource.created_at)
%td
  - if resource.attachment_uid
    = link_to resource.attachment.url do
      = image_tag resource.attachment.thumb('100x100#').url
%td.text
  = resource.attachment_name
%td.tags
  - resource.image_tags.each do |tag|
    = link_to tag, images_path(:tagged => [tag])
%td.actions
  = tool_buttons do
    = link_to "Copy URL to Clipboard", Linkable.urlify_path(resource.attachment.url), :class => 'clipboard'
    = link_to_edit_resource('Edit Tags', resource, :rel => 'popup')
    = link_to_destroy_resource(resource)
